html(lang="en")
  head
    title break out
    link(type="text/css" rel="stylesheet" href="assets/style.css")
  body
    canvas Please enable javascript to (not) enjoy breakout!
    script(type="text/javascript" src="assets/lib/app.js")
    script(type="text/javascript" src="assets/lib/score.js")
    script(type="text/javascript" src="assets/lib/rect.js")
    script(type="text/javascript" src="assets/lib/brick.js")
    script(type="text/javascript" src="assets/lib/paddle.js")
    script(type="text/javascript" src="assets/lib/circ.js")
    script(type="text/javascript" src="assets/lib/ball.js")
    script(type="text/javascript" src="assets/main.js")
