<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>break me out</title>
  </head>
  <body>
    <canvas>please enable javascript</canvas>
    <script type="text/javascript" src="/lib/app.js"></script>
    <script type="text/javascript" src="/lib/rect.js"></script>
    <script type="text/javascript" src="/lib/brick.js"></script>
    <script type="text/javascript" src="/lib/paddle.js"></script>
    <script type="text/javascript" src="/lib/circ.js"></script>
    <script type="text/javascript" src="/lib/ball.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
